<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">>
    <head>
        <title>Add New Movie</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
       <div>
      <h2>Add New Movie</h2>
      <form action="#" th:action="@{/AddNewMovie}" th:object="${movie}">
        <div class="form-group">
          <label for="add-name">Movie Name</label>
          <input class="form-control" id="movieName" th:field="*{duration}"/>
        </div>
        <div class="form-group">
          <label for="add-description">Duration</label>
          <input class="form-control" id="duration" th:field="*{duration}"/>
        </div>
        <div class="form-group">
          <label for="add-price">Release Date</label>
          <input type="date" class="form-control" id="dateRelease" th:field="{releaseDate}"/>
        </div>
        <button type="submit" class="btn btn-primary" id="btnSave">Add Movies</button>
      </form>
    </div>
    </body>
</html>
