<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Cinema Management Service</title>
        <meta charset="UTF-8"></meta>
         <link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
         <link href="/webjars/jquery-ui/1.12.1/jquery-ui.css" rel="stylesheet" />
         <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
         <script src="/webjars/jquery/3.5.1/jquery.min.js" ></script>
         <script src="/webjars/jquery-ui/1.12.1/jquery-ui.js" ></script>
         <script>
            $(document).ready(function() {

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
                });
            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
<div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand" style="width:25%;float: left;">
            <h5 style="font-family: sans-serif;text-align: left;">
                Cinema Management Service
            </h5>
        </div>
    <ul class="nav navbar-nav text-xs-center mr-auto">
        <li>
            <a class="nav-link active text-center" href="/">
                <span class="fa fa-home" aria-hidden="true"></span>
                 Home
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/addMovies">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Add Movies
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/deleteMovies">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Delete Movies
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/updateMovies">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Update Movies
            </a>
        </li>
    </ul>
    </div>
 </div>
 <div th:switch="${movies}">
    <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Delete Movies</h2>
            <table>
                <thead>
                    <tr>
                        <th>Movie Name</th>
                        <th>Duration</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.movieName}"></td>
                    <td th:text="${movie.duration}"></td>
                    <td th:text="${movie.releaseDate}"></td>
                    <td><a th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
            </div></div>
    </body>
</html>
