<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Cinema Management Service</title>
         <meta charset="UTF-8"></meta>
         <link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
         <link href="/webjars/jquery-ui/1.12.1/jquery-ui.css" rel="stylesheet" />
         <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
         <script src="/webjars/jquery/3.5.1/jquery.min.js" ></script>
    </head>
    <body>
    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand" style="width:25%;float: left;">
            <h5 style="font-family: sans-serif;text-align: left;">
                Cinema Management Service
            </h5>
        </div>
    <ul class="nav navbar-nav text-xs-center mr-auto">
        <li>
            <a class="nav-link active text-center" href="/">
                <span class="fa fa-home" aria-hidden="true"></span>
                 Home
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/addMovies">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Add Movies
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/deleteMovies">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Delete Movies
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/editForm">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Update Movies
            </a>
        </li>
        <li class="nav-item" style="margin-left:10px;margin-right:0px;">
            <a class="nav-link text-center" href="/register">
                 <span class="fa fa-phone" aria-hidden="true"></span>
                    Registration
            </a>
        </li>
    </ul>
    </div>
    </div>
    <div class="container" style="padding-top:5px; padding-bottom:30px;">
    <h2>Edit Details</h2>
    <form action="#" th:action="@{/update/{id}(id=${movie.id})}" th:object="${movie}" method="post">
        <div class="form-group">
        <label for="Movie Name">Movie Name</label>
            <input type="text" th:field="*{movieName}" id="name" placeholder="Movie Name"/>
        </div>   
        <div class="form-group">
        <label for="email">Duration</label>
            <input type="text" th:field="*{duration}" id="duration" placeholder="Duration"/>
        </div>
        <div class="form-group">
        <label for="email">Release Data</label>
            <input type="text" th:field="*{releaseDate}" id="date" placeholder="release Date"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Update User"/>   
    </form>
    </div>
    </body>
</html>